
header.small {
    height: 30% !important;
    min-height: 30% !important;
}

section {
    padding: 50px 0;
}

section.big, aside,big {
    padding: 100px 0;
}


.dashboard-date-switcher {
    margin: 20px 0;
}

form.form-inline-block {
    display: inline-block;
}

#dashboard-expense-modal-body form {
    padding: 10px;
}